<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ contactName }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="custom-content">
  <div class="messages">
    <div
      *ngFor="let msg of messages$ | async"
      [ngClass]="{
        'my-message': msg.senderId === userId,
        'other-message': msg.senderId !== userId
      }"
      class="message-bubble"
    >
      <div *ngIf="editingMessageId !== msg.id; else editTemplate">
        {{ msg.text }}
      </div>

      <ng-template #editTemplate>
        <ion-input
          [(ngModel)]="editedText"
          clearInput
          autofocus
          (keydown.enter)="saveEdit()"
        ></ion-input>
        <div class="edit-buttons">
          <ion-button size="small" color="success" (click)="saveEdit()">
            Salvar
          </ion-button>
          <ion-button size="small" color="medium" (click)="cancelEdit()">
            Cancelar
          </ion-button>
        </div>
      </ng-template>

      <div
        class="action-buttons"
        *ngIf="msg.senderId === userId && editingMessageId !== msg.id"
      >
        <ion-button fill="clear" size="small" (click)="startEdit(msg)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          size="small"
          color="danger"
          (click)="deleteMessage(msg.id!)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Digite sua mensagem"
      (keydown.enter)="sendMessage()"
      autofocus
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()" [disabled]="!newMessage.trim()">
        Enviar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
