<?xml version="1.0" encoding="utf-8"?>
<widget id="com.yourcompany.yourapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>YourAppName</name>
  <description>A description of your app</description>
  <author email="you@example.com">Your Name</author>
  <content src="index.html" />
</widget>
