ion-content {
  --background: #f8f9fa;
}

.profile-card {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.profile-avatar {
  margin: 20px auto 10px auto;
  width: 120px;
  height: 120px;
  border: 4px solid #3880ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.profile-avatar ion-icon {
  font-size: 100px;
  color: #3880ff;
}

ion-card-title {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #222;
}

ion-card-subtitle {
  color: #666;
}

.uid-text {
  word-break: break-all;
  color: #3880ff;
  font-weight: 500;
}

ion-button {
  margin-top: 20px;
  border-radius: 12px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ion-toolbar {
  --background: #3880ff;
  --color: #fff;
}

ion-title {
  font-weight: bold;
}

ion-back-button,
ion-icon {
  color: #fff;
}
