<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="user$ | async as user">
    <ion-card-header>
      <ion-card-title>{{ user.name || 'Usuário' }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Seu UID:</strong></p>
      <ion-text color="primary">
        <p>{{ user.uid }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="logout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Sair
  </ion-button>
</ion-content>
