ion-content.splash-content {
  --background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  padding: 0;
}

ion-content.splash-content.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splash-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;       /* Fixes the image relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw;          /* Full viewport width */
  height: 100vh;         /* Full viewport height */
  object-fit: cover;
}
