<ion-content fullscreen="true">
  <div class="login-container">
    <div class="login-card">
      <h2>Cadastrar</h2>

      <ion-input
        label="Nome"
        labelPlacement="floating"
        type="text"
        [(ngModel)]="name"
        placeholder="Seu nome completo">
      </ion-input>

      <ion-input
        label="Email"
        labelPlacement="floating"
        type="email"
        [(ngModel)]="email"
        placeholder="seuemail@email.com">
      </ion-input>

      <ion-input
        label="Senha"
        labelPlacement="floating"
        type="password"
        [(ngModel)]="password"
        placeholder="sua senha">
      </ion-input>

      <ion-button expand="block" (click)="register()">Cadastrar</ion-button>
      <ion-button expand="block" fill="outline" (click)="goToLogin()">Já tenho conta</ion-button>
    </div>
  </div>
</ion-content>
